@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>hi</h1>
<!--@using System.Security.Claims

<h3>@Model.Question</h3>
<hr />

<p>@Model.ContentBody</p>

@foreach (var answer in Model.Answers)
{
    <li>@Html.DisplayFor(answer => answer.ContentBody)</li>
}

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Add Answer", "NewAnswer")</p>
}-->